<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Exploring practical uses for Smart Contracts and NFTs", suffix: " · Fabled Labs" %>
  <link
    phx-track-static
    rel="stylesheet"
    href={Routes.static_path(@conn, "/css/app.css")}
  />
  <script
    defer
    phx-track-static
    type="text/javascript"
    src={Routes.static_path(@conn, "/js/app.js")}
  ></script>
  <script src="https://cdn.usefathom.com/script.js" data-site="EMGXNNXG" defer></script>
</head>

<body class="font-sans text-gray-900">
  <%= @inner_content %>
</body>

</html>
