<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Powerful tools for personal and public Bible Study", suffix: " · Without Ceasing" %>
  <link
    phx-track-static
    rel="stylesheet"
    href={Routes.static_path(@conn, "/css/app.css")}
  />
  <script
    defer
    phx-track-static
    type="text/javascript"
    src={Routes.static_path(@conn, "/js/app.js")}
  ></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
  <script src="https://cdn.usefathom.com/script.js" data-site="EMGXNNXG" defer></script>
</head>

<body class="font-sans text-gray-900 bg-gray-100">
  <%= @inner_content %>
</body>

</html>
