<div class="max-w-2xl mx-auto w-5/6 mt-8">
  <h1 class="font-bold text-4xl"><%= "#{@chapter.book} #{@chapter.chapter}" %></h1>
  <.chapter chapter={@chapter} current_verses={@current_verses} />
</div>