/* This file is for your main application css. */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Qanelas";
  font-weight: 200;
  src: url("../fonts/QanelasSoft-UltraLight.otf") format("otf");
}

@font-face {
  font-family: "Qanelas";
  font-weight: 800;
  src: url("../fonts/QanelasSoft-ExtraBold.otf") format("otf");
}

[x-cloak],
[hidden] {
  display: none !important;
}

@screen lg {
  .lg\:min-w-xl {
    min-width: 260px;
  }
}

.bg-gradient {
  background-image: linear-gradient(to bottom right, theme('colors.brand.100'), theme('colors.brand.200'), theme('colors.brand.300'), theme('colors.brand.400'), theme('colors.brand.500'));
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gradient--page {
  background-image: radial-gradient(circle at -5% 35%,
      theme('colors.brand.300'),
      rgba(theme('colors.brand.200'), 0) 50%),
    radial-gradient(circle at 90% 0%, theme('colors.brand.100'), rgba(theme('colors.brand.200'), 0) 70%),
    radial-gradient(circle at 90% 100%, theme('colors.brand.500'), rgba(theme('colors.brand.200'), 0) 80%),
    linear-gradient(theme('colors.brand.200'), theme('colors.brand.200'));
  background-size: cover;
  background-repeat: no-repeat;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}


/*=================
Popovers
=================*/

.popover {
  @apply hidden;
}

/*=================
Admin
=================*/

.grid-cols-chapters {
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
}

/*=================
Admin Nav
=================*/

.nav-link.nav-link--current::before {
  @apply w-1 h-full rounded-r-lg bg-gray-800 absolute -left-8 top-0 shadow;
  content: "";
}

.nav-link:hover::after {
  @apply h-full rounded-lg bg-gray-800 absolute -left-4 top-0 shadow;
  width: calc(100% + theme('spacing.16'));
  content: "";
}

/*=================
Admin Workspace
=================*/


/*=================
Admin Tables
=================*/


.mythic-table tr:first-child td:first-child {
  @apply rounded-tl-md;
}

.mythic-table tr:first-child td:last-child {
  @apply rounded-tr-md;
}

.mythic-table tr:last-child td:first-child {
  @apply rounded-bl-md;
}

.mythic-table tr:last-child td:last-child {
  @apply rounded-br-md;
}

/*=================
Admin Forms
=================*/


button.is-active {
  background: black;
  color: white;
}

.ProseMirror {
  @apply p-3 outline-none h-full;
}

/*=================
Bible
=================*/

.paragraph {
  text-indent: theme('spacing.4');
}

.verse {
  text-indent: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}