/* This file is for your main application css. */
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak],
[hidden] {
  display: none !important;
}

.menu-button-content {
  min-width: 180px;
}

@screen lg {
  .lg\:min-w-xl {
    min-width: 260px;
  }
}

.bg-gradient {
  background-image: linear-gradient(to bottom right, theme('colors.brand.100'), theme('colors.brand.200'), theme('colors.brand.300'), theme('colors.brand.400'), theme('colors.brand.500'));
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gradient--page {
  background-image: radial-gradient(circle at -5% 35%,
      theme('colors.brand.300'),
      rgba(theme('colors.brand.200'), 0) 50%),
    radial-gradient(circle at 90% 0%, theme('colors.brand.100'), rgba(theme('colors.brand.200'), 0) 70%),
    radial-gradient(circle at 90% 100%, theme('colors.brand.500'), rgba(theme('colors.brand.200'), 0) 80%),
    linear-gradient(theme('colors.brand.200'), theme('colors.brand.200'));
  background-size: cover;
  background-repeat: no-repeat;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}

.phx-disconnected * {
  pointer-events: none;
}


/*=================
Popovers
=================*/

.popover {
  @apply hidden;
}

/*=================
Admin
=================*/

.grid-cols-chapters {
  grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
}

/*=================
Admin Nav
=================*/

.nav-icon {
  height: 28px;
}

.nav-item::before {
  @apply w-5 h-5 rounded-br-full bg-white absolute bottom-full right-0;
  box-shadow: 5px 5px 0 5px theme('colors.gray.200');
  content: "";
}

.nav-item::after {
  @apply w-5 h-5 rounded-tr-full bg-white absolute top-full right-0;
  box-shadow: 5px -5px 0 5px theme('colors.gray.200');
  content: "";
}

/*=================
Admin Workspace
=================*/


/*=================
Admin Tables
=================*/


.mythic-table tr:first-child td:first-child {
  @apply rounded-tl-md;
}

.mythic-table tr:first-child td:last-child {
  @apply rounded-tr-md;
}

.mythic-table tr:last-child td:first-child {
  @apply rounded-bl-md;
}

.mythic-table tr:last-child td:last-child {
  @apply rounded-br-md;
}

/*=================
Admin Forms
=================*/